/*
 * MeyerWeb Reset
 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

/*
 * Page layout
 */

body {
  box-sizing: border-box;
  background-color: #F3F3F3;
  font-size: 16px;
  font-family: "Myriad Pro", Calibri, Helvetica, Arial, sans-serif;
  line-height: 1.5;
}

a, a:visited {
  color: #317FB4;
  text-decoration: none;
}

a:hover {
  color: orange;
}

#content {
  max-width: 1000px;
  margin: 40px auto;
}

#content header h1 {
  margin-bottom: 12px;
  font-size: 44px;
  text-transform: uppercase;
}
header {
  background-color: #E1DFDF;
}

header table {
  border-collapse: collapse;
}

header table td {
  vertical-align: top;
  white-space: nowrap;
  padding-right: 50px;
}

header td.name, header td.contact {
  padding-top: 25px;
}

header td.name {
  width: 100%;
}

#photo {
  overflow: hidden;
}

#photo, #photo img {
  width: 250px;
  height: 250px;
}

/* Hide the sunshine photo so that the cookie photo displays. */
#photo:hover #sunshine {
  display: none;
}

#current-work, #past-work {
  padding: 50px;
  /* This bottom padding is provided by the cards. */
  padding-bottom: 0;
}

#current-work {
  background-color: white;
}

#past-work {
  background-color: #D1D7DB;
}

#content h1 {
  font-weight: normal;
  font-size: 18px;
  margin: 0;
  margin-bottom: 50px;
  padding: 0;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.card {
  float: left;
  width: 50%;
  box-sizing: border-box;
  height: 100px;
  padding-right: 20px;
  margin-bottom: 50px;
  position: relative;
}

.card .date-range {
  position: absolute;
  color: gray;
  right: 20px;
  top: 2px;
}

.liftoff {
  width: 100%;
}

.liftoff h2 {
  font-weight: bold;
}

.icon {
  display: block;
  float: left;
  margin-right: 10px;
  background-color: white;
  line-height: 0;
}

.faux-icon {
  width: 100px;
  height: 100px;
}

.ooyala, .ninjawords-ios {
  background-color: transparent;
}

.livecss {
  background-color: #5D686C;
}

.textmatevim {
  background-color: #83A3B0;
}

.icon img {
  width: 100px;
  height: 100px;
}

.card h2 {
  font-weight: normal;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 18px;
  border: 0;
  letter-spacing: 1px;
  text-transform:uppercase;
}

.card p {
  margin: 0;
  padding: 0;
}

/*
 * Small Device Styles
 */
@media screen and (max-width: 480px) {
  body {
    font-size: 14px;
  }
}

/*
 * Print styles which I may use if I start writing.
 */
h1, h2, h3, h4, h5, h6 {
  margin: 10px 0;
  font-weight: normal;
  color: #222222;
  font-family: 'Lucida Grande', 'Calibri', Helvetica, Arial, sans-serif;
  letter-spacing: -1px;
}

h1 {
  font-size: 36px;
  font-weight: 700;
}

h2 {
  padding-bottom: 10px;
  font-size: 32px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 21px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}

p {
  margin: 10px 0 15px 0;
}
